src/main/app/account-list-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mule-ss="http://www.mulesoft.org/schema/mule/spring-security"
	xmlns:ss="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/spring-security http://www.mulesoft.org/schema/mule/spring-security/3.1/mule-spring-security.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd">

	<flow name="accountListConfigFlow">
		<set-variable variableName="tokennc" value="${api.ws.header.token.nc}"
			doc:name="Variable" />
		<expression-component doc:name="Expression">
		<![CDATA[
			msg='<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ser="http://services.bellatrix.org/">
				   <soapenv:Header>
				      <ser:headerAuth>
				         <token>' + flowVars['tokennc'] + '</token>
				      </ser:headerAuth>
				   </soapenv:Header>
				   <soapenv:Body>
				      <ser:loadAccountsByGroups>
				         <groupID>' + flowVars['fromGroupID'] + '</groupID>
				      </ser:loadAccountsByGroups>
				   </soapenv:Body>
				</soapenv:Envelope>';
			payload = msg;]]>
		</expression-component>
		<set-payload
			value="#[org.apache.commons.codec.binary.StringUtils.newStringUtf8(payload.getBytes())]" />
		<http:request config-ref="HTTP_Request_Configuration"
			path="accounts" method="POST" doc:name="HTTP">
			<http:request-builder>
				<http:header headerName="soapaction"
					value="&quot;loadAccountsByGroups&quot;" />
			</http:request-builder>
		</http:request>
		<byte-array-to-string-transformer
			doc:name="Byte Array to String" />
		<set-variable variableName="accMaps"
			value="#[new java.util.LinkedList()]" doc:name="Variable" />
		<foreach collection="#[xpath3('//accounts', payload, 'NODESET')]"
			doc:name="For Each">
			<set-variable variableName="accountsPayload" value="#[new java.util.HashMap()]"
				doc:name="Variable" />
			<set-variable variableName="id"
				value="#[xpath3('//accounts' + [counter] + '/id')]" doc:name="Variable" />
			<set-variable variableName="name"
				value="#[xpath3('//accounts' + [counter] + '/name')]" doc:name="Variable" />
			<set-variable variableName="description"
				value="#[xpath3('//accounts' + [counter] + '/description')]"
				doc:name="Variable" />
			<expression-transformer expression="#[accountsPayload['id']=id;accountsPayload]"
				doc:name="Expression" />
			<expression-transformer
				expression="#[accountsPayload['name']=name;accountsPayload]"
				doc:name="Expression" />
			<expression-transformer
				expression="#[accountsPayload['description']=description;accountsPayload]"
				doc:name="Expression" />
			<expression-component doc:name="Expression">
				<![CDATA[accMaps.add(accountsPayload);]]>
			</expression-component>
		</foreach>
		<set-variable value="#[xpath3('//status/message')]"
			variableName="status" doc:name="Variable" />
		<choice doc:name="Choice">
			<when expression="#[flowVars['status'] == 'PROCESSED']">
				<expression-component doc:name="Expression">
					<![CDATA[									
					responseMap = new java.util.LinkedHashMap();
					responseMap['accounts']= accMaps;			
					responseList = new java.util.LinkedList();
					responseList = [responseMap];
					
					confirmMap = new java.util.HashMap();
					confirmMap['AccountListResponse']= responseList;	
					confirmMap['status']= org.equinox.api.data.StatusBuilder.getStatus('PROCESSED');			
					payload = confirmMap;]]>
				</expression-component>
			</when>
			<otherwise>
				<expression-component doc:name="Expression">
					<![CDATA[
					responseMap = new java.util.HashMap();
					responseMap['status']= org.equinox.api.data.StatusBuilder.getStatus(flowVars['status']);			
					payload = responseMap;]]>
				</expression-component>
			</otherwise>
		</choice>
		<flow-ref name="responseHandlerFlow" doc:name="Flow Reference" />
	</flow>

</mule>
