src/main/app/balance-inquiry-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd">

	<flow name="balanceInqConfigFlow">
		<set-variable variableName="tokennc" value="${api.ws.header.token.nc}"
			doc:name="Variable" />
		<expression-component doc:name="Expression">
		<![CDATA[
			msg='<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ser="http://services.bellatrix.org/">
			   <soapenv:Header>
			      <ser:headerAuth>
			         <token>' + flowVars['tokennc'] + '</token>
			      </ser:headerAuth>
			   </soapenv:Header>
			   <soapenv:Body>
			      <ser:loadBalanceInquiry>
			            <accountID>' + originalPayload['accountID'] + '</accountID>
			         <username>' + originalPayload['fromMember'] + '</username>
			      </ser:loadBalanceInquiry>
			   </soapenv:Body>
			</soapenv:Envelope>';
			payload = msg;]]>
		</expression-component>
		<http:request config-ref="HTTP_Request_Configuration"
			path="accounts" method="POST" doc:name="HTTP">
			<http:request-builder>
				<http:header headerName="soapaction" value="&quot;loadBalanceInquiry&quot;" />
			</http:request-builder>
		</http:request>
		<byte-array-to-string-transformer
			doc:name="Byte Array to String" />
		<set-variable value="#[xpath3('//status/message')]"
			variableName="status" doc:name="Variable" />
		<set-variable value="#[xpath3('//formattedBalance')]"
			variableName="balance" doc:name="Variable" />
		<set-variable value="#[xpath3('//formattedReservedAmount')]"
			variableName="reserved" doc:name="Variable" />
		<set-variable value="#[xpath3('//member/username')]"
			variableName="username" doc:name="Variable" />
		<set-variable value="#[xpath3('//member/name')]"
			variableName="name" doc:name="Variable" />
		<set-variable value="#[xpath3('//account/name')]"
			variableName="accountName" doc:name="Variable" />
		<set-variable value="#[xpath3('//account/id')]"
			variableName="accountID" doc:name="Variable" />
		<choice doc:name="Choice">
			<when expression="#[flowVars['status'] == 'PROCESSED']">
				<set-payload value="#[flowVars['originalPayload']]"
					doc:name="Set Payload" />
				<pooled-component>
					<spring-object bean="JWTProcessor" />
				</pooled-component>

				<expression-component doc:name="Expression">
					<![CDATA[
					memberMap = new java.util.HashMap();
					memberMap['name']= flowVars['name'];
					memberMap['username']= flowVars['username'];
					
					accountMap = new java.util.HashMap();
					accountMap['name']= flowVars['accountName'];
					accountMap['id']= flowVars['accountID'];

					responseMap = new java.util.LinkedHashMap();
					responseMap['accountBalance']= flowVars['balance'];
					responseMap['reservedAmount']= flowVars['reserved'];
					responseMap['member']= memberMap;
					responseMap['account']= accountMap;
					
					responseList = new java.util.LinkedList();
					responseList = [responseMap];
			
					balinqMap = new java.util.HashMap();
					balinqMap['BalanceInquiryResponse']= responseList;	
					balinqMap['status']= org.equinox.api.data.StatusBuilder.getStatus('PROCESSED');			
					payload = balinqMap;]]>
				</expression-component>
			</when>
			<otherwise>
				<expression-component doc:name="Expression">
					<![CDATA[
					responseMap = new java.util.HashMap();
					responseMap['status']= org.equinox.api.data.StatusBuilder.getStatus(flowVars['status']);			
					payload = responseMap;]]>
				</expression-component>
			</otherwise>
		</choice>
		<flow-ref name="responseHandlerFlow" doc:name="Flow Reference" />
	</flow>

</mule>
