src/main/app/cashout-confirmation-agent-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd">

	<flow name="cashoutConfirmAgentConfigFlow">
		<set-variable variableName="tokennc" value="${api.ws.header.token.nc}"
			doc:name="Variable" />
		<set-variable
			value="[credential = (originalPayload['credential'] == null) ? '' : originalPayload['credential']]"
			variableName="credential" doc:name="Variable" />
		<set-variable
			value="#[accessTypeID = (originalPayload['accessTypeID'] == null) ? '' : originalPayload['accessTypeID']]"
			variableName="accessTypeID" doc:name="Variable" />
		<set-variable
			value="#[description = (originalPayload['description'] == null) ? '' : originalPayload['description']]"
			variableName="description" doc:name="Variable" />
		<expression-component doc:name="Expression">
		<![CDATA[
			msg='<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ser="http://services.bellatrix.org/">
			   <soapenv:Header>
			      <ser:headerAuth>
			         <token>' + flowVars['tokennc'] + '</token>
			      </ser:headerAuth>
			   </soapenv:Header>
			   <soapenv:Body>
			      <ser:confirmAgentCashout>
			         <accessTypeID>' + flowVars['accessTypeID'] + '</accessTypeID>
			         <amount>' + originalPayload['amount'] + '</amount>
			         <credential>' + flowVars['credential'] + '</credential>
			         <description>' + flowVars['description'] + '</description>
			         <fromMember>' + originalPayload['fromMember'] + '</fromMember>
			         <otp>' + originalPayload['otp'] + '</otp>
			         <toMember>' + originalPayload['parentUsername'] + '</toMember>
			         <traceNumber>' + originalPayload['traceNumber'] + '</traceNumber>
			      </ser:confirmAgentCashout>
			   </soapenv:Body>
			</soapenv:Envelope>';
			payload = msg;]]>
		</expression-component>
		<set-payload
			value="#[org.apache.commons.codec.binary.StringUtils.newStringUtf8(payload.getBytes())]" />
		<http:request config-ref="HTTP_Request_Configuration"
			path="payments" method="POST" doc:name="HTTP">
			<http:request-builder>
				<http:header headerName="soapaction"
					value="&quot;confirmAgentCashout&quot;" />
			</http:request-builder>
		</http:request>
		<byte-array-to-string-transformer
			doc:name="Byte Array to String" />
		<set-variable value="#[xpath3('//status/message')]"
			variableName="status" doc:name="Variable" />
		<expression-component doc:name="Expression">
			<![CDATA[
			responseMap = new java.util.HashMap();
			responseMap['status']= org.equinox.api.data.StatusBuilder.getStatus(flowVars['status']);			
			payload = responseMap;]]>
		</expression-component>
		<flow-ref name="responseHandlerFlow" doc:name="Flow Reference" />
	</flow>

</mule>
