src/main/app/change-credential-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:ws="http://www.mulesoft.org/schema/mule/ws"
	xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

	<flow name="changeCredentialConfigFlow">
		<set-variable variableName="reqID" value="#[message.id]"
			doc:name="Variable" />
		<expression-component doc:name="Expression">
			<![CDATA[
			regMap = new java.util.HashMap();
			regMap['methodType']= 'PUT';			
			regMap['name']= 'CredentialTokenMap';
			regMap['key']= flowVars['reqID'];
			regMap['value']= originalPayload['fromMember'];
			payload = regMap;]]>
		</expression-component>
		<pooled-component>
			<spring-object bean="CacheProcessor" />
		</pooled-component>
		<expression-component doc:name="Expression">
			<![CDATA[
			regMap = new java.util.HashMap();
			regMap['ticketID']= flowVars['reqID'];			
			regMap['email']= flowVars['fromEmail'];
			payload = regMap;]]>
		</expression-component>
		<vm:outbound-endpoint exchange-pattern="one-way"
			connector-ref="Notification_VM" path="change.credential.notification"
			doc:name="VM" />
		<expression-component doc:name="Expression">
			<![CDATA[
				reqIdMap = new java.util.HashMap();
				reqIdMap['requestID']= flowVars['reqID'];
				responseList = new java.util.LinkedList();
				responseList = [reqIdMap];
				responseMap = new java.util.HashMap();
				responseMap['ChangeCredentialResponse']= responseList;
				responseMap['status']= org.equinox.api.data.StatusBuilder.getStatus('PROCESSED');			
				payload = responseMap;]]>
		</expression-component>
		<flow-ref name="responseHandlerFlow" doc:name="Flow Reference" />
	</flow>

</mule>
