src/main/app/context-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.8.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<flow name="contextInstanceFlow">
		<!-- By doing this 1 Context instance will be shared to all flow (do not change it to sub-flow!) -->
		<component doc:name="Java">
			<singleton-object class="org.equinox.api.context.ContextBuilder"/>
		</component>
		<set-variable variableName="context" value="#[(org.equinox.api.context.Context)payload]" doc:name="Variable"/>
	</flow>

</mule>
