src/main/app/event-create-status-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.8.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="eventCreateStatusMainConfigFlow">
		<set-variable variableName="tokennc" value="${api.ws.header.token.nc}"
			doc:name="Variable" />
		<set-variable
			value="#[status = (originalPayload['status'] == null) ? '' : originalPayload['status']]"
			variableName="status" doc:name="Variable" />
		<set-variable
			value="#[channelID = (originalPayload['channelID'] == null) ? '1' : originalPayload['channelID']]"
			variableName="channelID" doc:name="Variable" />
		<expression-component doc:name="Expression">
		<![CDATA[
			msg='<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ser="http://services.bellatrix.org/">
				   <soapenv:Header>
				      <ser:headerAuth>
				         <token>' + flowVars['tokennc'] + '</token>
				      </ser:headerAuth>
				   </soapenv:Header>
				   <soapenv:Body>
				   	  <ser:createEventStatus>
				         <amount>' + originalPayload['amount'] + '</amount>
				         <channelID>' + flowVars['channelID'] + '</channelID>
				         <description>' + originalPayload['description'] + '</description>
				         <email>' + originalPayload['email'] + '</email>
				         <eventID>' + originalPayload['eventID'] + '</eventID>
				         <name>' + originalPayload['name'] + '</name>
				         <referenceNumber>' + originalPayload['referenceNumber'] + '</referenceNumber>
				         <status>' + flowVars['status'] + '</status>
				         <traceNumber>' + originalPayload['traceNumber'] + '</traceNumber>
				         <transactionNumber>' + originalPayload['transactionNumber'] + '</transactionNumber>
				         <username>' + originalPayload['parentUsername'] + '</username>
				      </ser:createEventStatus>
				   </soapenv:Body>
				</soapenv:Envelope>';
			payload = msg;]]>
		</expression-component>
		<http:request config-ref="HTTP_Request_Configuration"
			path="virtualaccounts" method="POST" doc:name="HTTP">
			<http:request-builder>
				<http:header headerName="soapaction" value="&quot;createEventStatus&quot;" />
			</http:request-builder>
		</http:request>
		<byte-array-to-string-transformer
			doc:name="Byte Array to String" />
		<set-variable value="#[xpath3('//faultstring')]"
			variableName="faultString" doc:name="Variable" />
		<choice doc:name="Choice">
			<when expression="#[org.mule.util.StringUtils.isNotEmpty(faultString)]">
				<expression-component doc:name="Expression">
					<![CDATA[
					responseMap = new java.util.HashMap();
					responseMap['status']= org.equinox.api.data.StatusBuilder.getStatus(faultString);			
					payload = responseMap;]]>
				</expression-component>
			</when>
			<otherwise>
				<expression-component doc:name="Expression">
				<![CDATA[
				responseMap = new java.util.HashMap();
				responseMap['status']= org.equinox.api.data.StatusBuilder.getStatus('PROCESSED');			
				payload = responseMap;]]>
				</expression-component>
			</otherwise>
		</choice>
		<flow-ref name="responseHandlerFlow" doc:name="Flow Reference" />
	</flow>
</mule>
