src/main/app/message-validation-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.8.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="messageRetrieveValidationFlow">
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter doc:name="And">
				<expression-filter expression="#[originalPayload['token'] != null]" />
				<expression-filter expression="#[originalPayload['messageID'] != null]" />
			</and-filter>
		</message-filter>

		<flow-ref name="tokenValidation" />
		<message-filter onUnaccepted="requestValidationFlow"
			doc:name="Message">
			<expression-filter expression="#[payload == 'ALLOWED']" />
		</message-filter>

		<choice>
			<when expression="#[originalPayload['validateHash'] == true]">
				<choice>
					<when
						expression="#[org.mule.util.StringUtils.isNotEmpty(originalPayload.'requestAuth')]">
						<flow-ref name="hashValidation" />
						<message-filter onUnaccepted="requestValidationFlow"
							doc:name="Message">
							<expression-filter expression="#[payload == 'ALLOWED']" />
						</message-filter>
						<set-payload value="#[originalPayload]" />
						<flow-ref name="messageRetrieveMainConfigFlow" />
					</when>
					<otherwise>
						<flow-ref name="invalidParameterFlow" />
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<logger level="DEBUG" message="[SKIP HASH Validation]" />
				<set-payload value="#[originalPayload]" />
				<flow-ref name="messageRetrieveMainConfigFlow" />
			</otherwise>
		</choice>
	</flow>

	<flow name="messageDeleteValidationFlow">
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter doc:name="And">
				<expression-filter expression="#[originalPayload['token'] != null]" />
				<expression-filter expression="#[originalPayload['messageID'] != null]" />
			</and-filter>
		</message-filter>

		<flow-ref name="tokenValidation" />
		<message-filter onUnaccepted="requestValidationFlow"
			doc:name="Message">
			<expression-filter expression="#[payload == 'ALLOWED']" />
		</message-filter>

		<choice>
			<when expression="#[originalPayload['validateHash'] == true]">
				<choice>
					<when
						expression="#[org.mule.util.StringUtils.isNotEmpty(originalPayload.'requestAuth')]">
						<flow-ref name="hashValidation" />
						<message-filter onUnaccepted="requestValidationFlow"
							doc:name="Message">
							<expression-filter expression="#[payload == 'ALLOWED']" />
						</message-filter>
						<set-payload value="#[originalPayload]" />
						<flow-ref name="messageDeleteMainConfigFlow" />
					</when>
					<otherwise>
						<flow-ref name="invalidParameterFlow" />
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<logger level="DEBUG" message="[SKIP HASH Validation]" />
				<set-payload value="#[originalPayload]" />
				<flow-ref name="messageDeleteMainConfigFlow" />
			</otherwise>
		</choice>
	</flow>

	<flow name="messageSendValidationFlow">
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter doc:name="And">
				<expression-filter expression="#[originalPayload['token'] != null]" />
				<expression-filter expression="#[originalPayload['fromUsername'] != null]" />
				<expression-filter expression="#[originalPayload['subject'] != null]" />
				<expression-filter expression="#[originalPayload['body'] != null]" />
				<expression-filter expression="#[originalPayload['toUsername'] != null]" />
			</and-filter>
		</message-filter>

		<flow-ref name="tokenValidation" />
		<message-filter onUnaccepted="requestValidationFlow"
			doc:name="Message">
			<expression-filter expression="#[payload == 'ALLOWED']" />
		</message-filter>

		<choice>
			<when expression="#[originalPayload['validateHash'] == true]">
				<choice>
					<when
						expression="#[org.mule.util.StringUtils.isNotEmpty(originalPayload.'requestAuth')]">
						<flow-ref name="hashValidation" />
						<message-filter onUnaccepted="requestValidationFlow"
							doc:name="Message">
							<expression-filter expression="#[payload == 'ALLOWED']" />
						</message-filter>
						<set-payload value="#[originalPayload]" />
						<flow-ref name="messageSendMainConfigFlow" />
					</when>
					<otherwise>
						<flow-ref name="invalidParameterFlow" />
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<logger level="DEBUG" message="[SKIP HASH Validation]" />
				<set-payload value="#[originalPayload]" />
				<flow-ref name="messageSendMainConfigFlow" />
			</otherwise>
		</choice>
	</flow>

	<flow name="messageListValidationFlow">
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter>
				<expression-filter expression="#[originalPayload['token'] != null]" />
				<expression-filter expression="#[originalPayload['currentPage'] != null]" />
				<expression-filter expression="#[originalPayload['pageSize'] != null]" />
			</and-filter>
		</message-filter>
		<flow-ref name="tokenValidation" />
		<message-filter onUnaccepted="requestValidationFlow"
			doc:name="Message">
			<expression-filter expression="#[payload == 'ALLOWED']" />
		</message-filter>

		<choice>
			<when expression="#[originalPayload['validateHash'] == true]">
				<choice>
					<when
						expression="#[org.mule.util.StringUtils.isNotEmpty(originalPayload.'requestAuth')]">
						<flow-ref name="hashValidation" />
						<message-filter onUnaccepted="requestValidationFlow"
							doc:name="Message">
							<expression-filter expression="#[payload == 'ALLOWED']" />
						</message-filter>
						<set-payload value="#[originalPayload]" />
						<flow-ref name="messageListMainConfigFlow" />
					</when>
					<otherwise>
						<flow-ref name="invalidParameterFlow" />
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<logger level="DEBUG" message="[SKIP HASH Validation]" />
				<set-payload value="#[originalPayload]" />
				<flow-ref name="messageListMainConfigFlow" />
			</otherwise>
		</choice>
	</flow>
	
	<flow name="messageUnreadValidationFlow">
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter>
				<expression-filter expression="#[originalPayload['token'] != null]" />
				<expression-filter expression="#[originalPayload['currentPage'] != null]" />
				<expression-filter expression="#[originalPayload['pageSize'] != null]" />
			</and-filter>
		</message-filter>
		<flow-ref name="tokenValidation" />
		<message-filter onUnaccepted="requestValidationFlow"
			doc:name="Message">
			<expression-filter expression="#[payload == 'ALLOWED']" />
		</message-filter>

		<choice>
			<when expression="#[originalPayload['validateHash'] == true]">
				<choice>
					<when
						expression="#[org.mule.util.StringUtils.isNotEmpty(originalPayload.'requestAuth')]">
						<flow-ref name="hashValidation" />
						<message-filter onUnaccepted="requestValidationFlow"
							doc:name="Message">
							<expression-filter expression="#[payload == 'ALLOWED']" />
						</message-filter>
						<set-payload value="#[originalPayload]" />
						<flow-ref name="messageUnreadMainConfigFlow" />
					</when>
					<otherwise>
						<flow-ref name="invalidParameterFlow" />
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<logger level="DEBUG" message="[SKIP HASH Validation]" />
				<set-payload value="#[originalPayload]" />
				<flow-ref name="messageUnreadMainConfigFlow" />
			</otherwise>
		</choice>
	</flow>

</mule>
