src/main/app/qris-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<flow name="qrisFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="QRIS/{qrisAction}" doc:name="HTTP"/>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>
		<set-variable value="#[message.inboundProperties.'http.method']"
			variableName="method" doc:name="Variable" />
		<custom-transformer class="org.equinox.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]" doc:name="Variable"/>	
		<flow-ref name="contextInstanceFlow" doc:name="Flow Reference"/>
		<set-variable variableName="qrisAction" value="#[message.inboundProperties.'http.uri.params'.qrisAction]" doc:name="Variable"/>
		<set-variable variableName="trxType" value="#['qris'+flowVars.qrisAction]" doc:name="Variable"/>
		<set-variable variableName="correlationID" value="#[flowVars.context.getCorrelationID()]" doc:name="Variable"/>
		<set-variable variableName="qrisToken" value="${api.ws.header.token.qris}" doc:name="Variable"/>
		<expression-component doc:name="Expression"><![CDATA[
			flowVars.context.setTransactionType(flowVars.trxType);]]>
		</expression-component>
		<set-variable variableName="parentUrl" value="${app.base.url}/QRIS" doc:name="Variable" />
		<set-variable variableName="logMessage" value="Request: #[flowVars.originalPayload]" doc:name="Variable"/>
		<flow-ref name="logInfoFlow" doc:name="Flow Reference"/>
		<set-payload value="#[flowVars.originalPayload]" doc:name="Set Payload" />
		<flow-ref name="qrisPathFlow" doc:name="Flow Reference"/>
		<exception-strategy ref="sessionException" doc:name="Reference Exception Strategy"/>
	</flow>
	
	<sub-flow name="qrisPathFlow">
		<choice doc:name="Choice">
			<when expression="#[flowVars.qrisAction == 'Inquiry']">
				<flow-ref name="qrisInquiryValidationFlow" doc:name="Flow Reference"/>
			</when>
			<when expression="#[flowVars.qrisAction == 'Credit']">
				<flow-ref name="qrisCreditValidationFlow" doc:name="Flow Reference"/>
			</when>
			<when expression="#[flowVars.qrisAction == 'CreditConfirmation']">
			
				<flow-ref name="qrisCreditConfirmationValidationFlow" doc:name="Flow Reference"/>
			</when>
			<when expression="#[flowVars.qrisAction == 'CheckStatus']">
				<flow-ref name="qrisCheckStatusValidationFlow" doc:name="Flow Reference"/>
			</when>
			<otherwise>
				<expression-component doc:name="Expression"><![CDATA[
					responseMap = new java.util.HashMap();
					responseMap['status'] = org.equinox.api.data.StatusBuilder.getStatus('SERVICE_NOT_FOUND');
					payload = responseMap;]]></expression-component>
				<flow-ref name="responseHandlerFlow" doc:name="Flow Reference"/>
			</otherwise>
		</choice>
	</sub-flow>
</mule>
