src/main/app/qris-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<flow name="qrisInquiryChannelFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="QRIS/Inquiry" allowedMethods="POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>
		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />
		<expression-transformer
			expression="#[originalPayload['transactionType']=org.apache.commons.lang.StringUtils.substringAfterLast(message.inboundProperties.'http.relative.path', '/');originalPayload]"
			doc:name="Expression" />
		<logger level="INFO"
			message="[{#[correlationID]} : QRIS-INQ Request = #[originalPayload]]"
			doc:name="Logger" />
		<set-property value="qrisInquiry" propertyName="type"
			doc:name="Property" />
		<set-property value="#[correlationID]" propertyName="messageID"
			doc:name="Property" />
		<vm:outbound-endpoint exchange-pattern="one-way"
			path="log.request" connector-ref="GrayLog_VM" doc:name="VM" />
		<flow-ref name="qrisInqValidationFlow" doc:name="Flow Reference" />
		<set-property value="qrisInquiry" propertyName="type"
			doc:name="Property" />
		<set-property value="#[correlationID]" propertyName="messageID"
			doc:name="Property" />
		<vm:outbound-endpoint exchange-pattern="one-way"
			path="log.response" connector-ref="GrayLog_VM" doc:name="VM" />
		<logger level="INFO"
			message="[{#[correlationID]} QRIS-INQ Response = #[payload]]"
			doc:name="Logger" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>
	
	<flow name="qrisCreditChannelFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="QRIS/Credit" allowedMethods="POST	" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>
		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />
		<set-payload value="#[message.inboundProperties.'http.query.params']"
			doc:name="Set Payload" />
		<custom-transformer class="org.equinox.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />
		<expression-transformer
			expression="#[originalPayload['transactionType']=org.apache.commons.lang.StringUtils.substringAfterLast(message.inboundProperties.'http.relative.path', '/');originalPayload]"
			doc:name="Expression" />
		<logger level="INFO"
			message="[{#[correlationID]} : QRIS-CREDIT Request = #[originalPayload]]"
			doc:name="Logger" />
		<set-property value="qrisCredit" propertyName="type"
			doc:name="Property" />
		<set-property value="#[correlationID]" propertyName="messageID"
			doc:name="Property" />
		<vm:outbound-endpoint exchange-pattern="one-way"
			path="log.request" connector-ref="GrayLog_VM" doc:name="VM" />
		<flow-ref name="qrisCreditValidationFlow" doc:name="Flow Reference" />
		<set-property value="qrisCredit" propertyName="type"
			doc:name="Property" />
		<set-property value="#[correlationID]" propertyName="messageID"
			doc:name="Property" />
		<vm:outbound-endpoint exchange-pattern="one-way"
			path="log.response" connector-ref="GrayLog_VM" doc:name="VM" />
		<logger level="INFO"
			message="[{#[correlationID]} QRIS-CREDIT Response = #[payload]]"
			doc:name="Logger" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>
	
	<flow name="qrisStatusChannelFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="QRIS/Inquiry/Status" allowedMethods="GET" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>
		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />
		<set-payload value="#[message.inboundProperties.'http.query.params']"
			doc:name="Set Payload" />
		<custom-transformer class="org.equinox.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />
		<expression-transformer
			expression="#[originalPayload['transactionType']=org.apache.commons.lang.StringUtils.substringAfterLast(message.inboundProperties.'http.relative.path', '/');originalPayload]"
			doc:name="Expression" />
		<logger level="INFO"
			message="[{#[correlationID]} : QRIS-INQ-STATUS Request = #[originalPayload]]"
			doc:name="Logger" />
		<set-property value="qrisInquiryStatus" propertyName="type"
			doc:name="Property" />
		<set-property value="#[correlationID]" propertyName="messageID"
			doc:name="Property" />
		<vm:outbound-endpoint exchange-pattern="one-way"
			path="log.request" connector-ref="GrayLog_VM" doc:name="VM" />
		<flow-ref name="qrisCheckStatusValidationFlow" doc:name="Flow Reference" />
		<set-property value="qrisInquiryStatus" propertyName="type"
			doc:name="Property" />
		<set-property value="#[correlationID]" propertyName="messageID"
			doc:name="Property" />
		<vm:outbound-endpoint exchange-pattern="one-way"
			path="log.response" connector-ref="GrayLog_VM" doc:name="VM" />
		<logger level="INFO"
			message="[{#[correlationID]} QRIS-INQ-STATUS Response = #[payload]]"
			doc:name="Logger" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>
</mule>
