src/main/app/response-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd">

	<flow name="responseHandlerFlow">
		<set-variable value="#[payload.status.message]"
			variableName="statusMessage" doc:name="Variable" />
		<json:object-to-json-transformer
			doc:name="Object 
			to JSON" mapper-ref="NonNullMapper" />
		<set-property propertyName="http.status"
			value="#[org.equinox.api.data.StatusBuilder.getHttpStatus(statusMessage)]" />
	</flow>


	<flow name="invalidParameterFlow">
		<expression-component doc:name="Expression">
			<![CDATA[
			responseMap = new java.util.HashMap();
			responseMap['status'] = org.equinox.api.data.StatusBuilder.getStatus('INVALID_PARAMETER');
			payload = responseMap;]]>
		</expression-component>
		<flow-ref name="responseHandlerFlow" />
	</flow>

	<flow name="requestValidationFlow">
		<set-variable variableName="httpStatus" value="#[payload]"
			doc:name="Variable" />
		<expression-component doc:name="Expression">
			<![CDATA[
			responseMap = new java.util.HashMap();
			responseMap['status'] = org.equinox.api.data.StatusBuilder.getStatus(payload);
			payload = responseMap;]]>
		</expression-component>
		<flow-ref name="responseHandlerFlow" />
	</flow>

	<flow name="invalidURLFlow">
		<expression-component doc:name="Expression">
			<![CDATA[
			responseMap = new java.util.HashMap();
			responseMap['status'] = org.equinox.api.data.StatusBuilder.getStatus('INVALID_URL');
			payload = responseMap;]]>
		</expression-component>
		<flow-ref name="responseHandlerFlow" />
	</flow>

	<flow name="crcValidationFlow">
		<set-variable variableName="httpStatus" value="#[payload]"
			doc:name="Variable" />
		<expression-component doc:name="Expression">
			<![CDATA[
			responseMap = new java.util.HashMap();
			responseMap['status'] = org.equinox.api.data.StatusBuilder.getStatus('INVALID_SIGNATURE');
			payload = responseMap;]]>
		</expression-component>
		<flow-ref name="responseHandlerFlow" />
	</flow>
</mule>
