src/main/app/test-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.8.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<flow name="testFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="Test" doc:name="HTTP"/>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>
		<set-variable variableName="originalPayload" value="#[payload]" doc:name="Variable"/>	
		<flow-ref name="contextInstanceFlow" doc:name="Flow Reference"/>
		<set-payload value="#[flowVars.originalPayload]" doc:name="Set Payload" />
		<set-variable variableName="logMessage" value="Request: #[flowVars.originalPayload]" doc:name="Variable"/>
		<flow-ref name="logInfoFlow" doc:name="Flow Reference"/>
		<exception-strategy ref="sessionException" doc:name="Reference Exception Strategy"/>
	</flow>
	
</mule>
