src/main/app/va-payment-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mule-ss="http://www.mulesoft.org/schema/mule/spring-security"
	xmlns:ss="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/spring-security http://www.mulesoft.org/schema/mule/spring-security/3.1/mule-spring-security.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">


	<flow name="vaPaymentMainConfigFlow">
		<set-variable variableName="tokennc" value="${api.ws.header.token.nc}"
			doc:name="Variable" />
		<choice>
			<when expression="#[originalPayload['transferTypeID'] == null]" >
				<set-variable variableName="trfTypeID" value="35"
					doc:name="Variable" />
			</when>
			<otherwise>
				<set-variable variableName="trfTypeID"
					value="#[originalPayload['transferTypeID']]" doc:name="Variable" />
			</otherwise>
		</choice>
		<expression-component doc:name="Expression">
			<![CDATA[
				msg='<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ser="http://services.bellatrix.org/">
					   <soapenv:Header>
					      <ser:headerAuth>
					         <token>' + flowVars['tokennc'] + '</token>
					      </ser:headerAuth>
					   </soapenv:Header>
					   <soapenv:Body>
					   	 <ser:paymentVA>
					         <amount>' + originalPayload['amount'] + '</amount>
					         <fromMember>' + originalPayload['fromMember'] + '</fromMember>
					         <paymentCode>' + originalPayload['paymentCode'] + '</paymentCode>
					         <referenceNumber>' + originalPayload['referenceNumber'] + '</referenceNumber>
					         <traceNumber>' + originalPayload['parentID'] + '' + originalPayload['traceNumber'] + '</traceNumber>
					         <transferTypeID>' + flowVars['trfTypeID'] + '</transferTypeID>
					      </ser:paymentVA>
					   </soapenv:Body>
					</soapenv:Envelope>';
				payload = msg;]]>
		</expression-component>
		<http:request config-ref="HTTP_Request_Configuration"
			path="virtualaccounts" method="POST" doc:name="HTTP">
			<http:request-builder>
				<http:header headerName="soapaction" value="&quot;paymentVA&quot;" />
			</http:request-builder>
		</http:request>
		<byte-array-to-string-transformer
			doc:name="Byte Array to String" />
		<set-variable value="#[xpath3('//status/message')]"
			variableName="status" doc:name="Variable" />
		
		<choice doc:name="Choice">
			<when expression="#[flowVars['status'] == 'PROCESSED']">
				<set-variable value="#[xpath3('//amount')]"
					variableName="amount" doc:name="Variable" />
				<set-variable value="#[xpath3('//name')]" variableName="name"
					doc:name="Variable" />
				<set-variable value="#[xpath3('//callbackURL')]"
					variableName="callbackUrl" doc:name="Variable" />
				<set-variable value="#[xpath3('//traceNumber')]"
					variableName="traceNumber" doc:name="Variable" />
				<set-variable value="#[xpath3('//transactionNumber')]"
					variableName="transactionNumber" doc:name="Variable" />
				<set-variable value="#[xpath3('//expiredAt')]"
					variableName="expiredAt" doc:name="Variable" />
				<set-variable value="#[xpath3('//persistent')]"
					variableName="persistent" doc:name="Variable" />
				<set-variable value="#[xpath3('//paymentCode')]"
					variableName="paymentCode" doc:name="Variable" />
				<set-variable value="#[xpath3('//referenceNumber')]"
					variableName="referenceNumber" doc:name="Variable" />
				<set-variable value="#[xpath3('//originator/name')]"
					variableName="originator" />
				<set-variable value="#[xpath3('//originator/username')]"
					variableName="originatorUsername" />
				<set-variable value="#[xpath3('//description')]"
					variableName="desc" />

				<expression-component doc:name="Expression">
					<![CDATA[
					toMemberMap = new java.util.HashMap();
					toMemberMap['name'] = flowVars['originator'];
					toMemberMap['username'] = flowVars['originatorUsername'];
					
					detailMap = new java.util.HashMap();
					detailMap['paymentCode'] = flowVars['paymentCode'];
					detailMap['referenceNumber'] = flowVars['referenceNumber'];
					detailMap['name'] = flowVars['name'];
					detailMap['amount']= originalPayload['amount'];
					detailMap['persistent']= flowVars['persistent'];
					detailMap['expiredAt']= flowVars['expiredAt'];
					detailMap['traceNumber'] = flowVars['traceNumber'];
					detailMap['transactionNumber'] = flowVars['transactionNumber'];
					detailMap['callbackUrl'] = flowVars['callbackUrl'];
					detailMap['description'] = flowVars['desc'];
					detailMap['toMember'] = toMemberMap;
					
					responseMap = new java.util.HashMap();
					responseMap['PaymentCollectionResponse'] = detailMap;
					responseMap['status']= org.equinox.api.data.StatusBuilder.getStatus(flowVars['status']);			
					payload = responseMap;]]>
				</expression-component>
			</when>
			<otherwise>
				<expression-component doc:name="Expression">
					<![CDATA[
					responseMap = new java.util.HashMap();
					responseMap['status']= org.equinox.api.data.StatusBuilder.getStatus(flowVars['status']);			
					payload = responseMap;]]>
				</expression-component>
			</otherwise>
		</choice>
		<flow-ref name="responseHandlerFlow" doc:name="Flow Reference" />
	</flow>

</mule>
