src/main/app/va-report-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mule-ss="http://www.mulesoft.org/schema/mule/spring-security"
	xmlns:ss="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/spring-security http://www.mulesoft.org/schema/mule/spring-security/3.1/mule-spring-security.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">


	<flow name="vaReportBillingMainConfigFlow">
		<set-variable variableName="tokennc" value="${api.ws.header.token.nc}"
			doc:name="Variable" />
		<expression-component doc:name="Expression">
		<![CDATA[
			msg='<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ser="http://services.bellatrix.org/">
				   <soapenv:Header>
				      <ser:headerAuth>
				         <token>' + flowVars['tokennc'] + '</token>
				      </ser:headerAuth>
				   </soapenv:Header>
				   <soapenv:Body>
				      <ser:reportBilling>
				         <username>' + originalPayload['parentUsername'] + '</username>
				      </ser:reportBilling>
				   </soapenv:Body>
				</soapenv:Envelope>';
			payload = msg;]]>
		</expression-component>
		<http:request config-ref="HTTP_Request_Configuration"
			path="virtualaccounts" method="POST" doc:name="HTTP">
			<http:request-builder>
				<http:header headerName="soapaction" value="&quot;reportBilling&quot;" />
			</http:request-builder>
			<http:success-status-code-validator
				values="200,500" />
		</http:request>
		<byte-array-to-string-transformer
			doc:name="Byte Array to String" />
		<set-variable value="#[xpath3('//status/message')]"
			variableName="statusTrx" doc:name="Variable" />
		<choice doc:name="Choice">
			<when expression="#[flowVars['statusTrx'] == 'PROCESSED']">
				<set-variable value="#[xpath3('//paidAmount').replaceAll('.00','')]"
					variableName="paidAmount" doc:name="Variable" />
				<set-variable value="#[xpath3('//formattedPaidAmount')]"
					variableName="formattedPaidAmount" doc:name="Variable" />
				<set-variable value="#[xpath3('//paidBilling')]"
					variableName="paidBilling" doc:name="Variable" />

				<set-variable value="#[xpath3('//unpaidAmount').replaceAll('.00','')]"
					variableName="unpaidAmount" doc:name="Variable" />
				<set-variable value="#[xpath3('//formattedUnpaidAmount')]"
					variableName="formattedUnpaidAmount" doc:name="Variable" />
				<set-variable value="#[xpath3('//unpaidBilling')]"
					variableName="unpaidBilling" doc:name="Variable" />

				<set-variable value="#[xpath3('//pendingAmount').replaceAll('.00','')]"
					variableName="pendingAmount" doc:name="Variable" />
				<set-variable value="#[xpath3('//formattedPendingAmount')]"
					variableName="formattedPendingAmount" doc:name="Variable" />
				<set-variable value="#[xpath3('//pendingBilling')]"
					variableName="pendingBilling" doc:name="Variable" />

				<set-variable value="#[xpath3('//totalAmount').replaceAll('.00','')]"
					variableName="totalAmount" doc:name="Variable" />
				<set-variable value="#[xpath3('//formattedTotalAmount')]"
					variableName="formattedTotalAmount" doc:name="Variable" />
				<set-variable value="#[xpath3('//totalRecords')]"
					variableName="totalRecords" doc:name="Variable" />

				<expression-component doc:name="Expression">
					<![CDATA[respMap = new java.util.HashMap();
						respMap['totalRecords'] = flowVars['totalRecords'];
						respMap['formattedTotalAmount'] = flowVars['formattedTotalAmount'];
						respMap['totalAmount'] = flowVars['totalAmount'];
						respMap['paidBilling'] = flowVars['paidBilling'];
						respMap['paidAmount'] = flowVars['paidAmount'];
						respMap['formattedPaidAmount'] = flowVars['formattedPaidAmount'];
						respMap['unpaidBilling'] = flowVars['unpaidBilling'];
						respMap['unpaidAmount'] = flowVars['unpaidAmount'];
						respMap['formattedUnpaidAmount'] = flowVars['formattedUnpaidAmount'];
						respMap['pendingBilling'] = flowVars['pendingBilling'];
						respMap['pendingAmount'] = flowVars['pendingAmount'];
						respMap['formattedPendingAmount'] = flowVars['formattedPendingAmount'];
						respMap['status'] = org.equinox.api.data.StatusBuilder.getStatus('PROCESSED');			
					payload = respMap;]]>
				</expression-component>
			</when>
			<otherwise>
				<expression-component doc:name="Expression">
					<![CDATA[respMap = new java.util.HashMap();
						respMap['status']= org.equinox.api.data.StatusBuilder.getStatus(statusTrx);			
					payload = respMap;]]>
				</expression-component>
			</otherwise>
		</choice>
		<flow-ref name="responseHandlerFlow" doc:name="Flow Reference" />
	</flow>

</mule>
